gym
ipython
joblib
matplotlib
matplotlib-inline
numpy
opencv-python
pandas
psutil
pybullet
PyOpenGL
PyYAML
scikit-learn
scipy
seaborn
stable-baselines3
torch
torch-geometric
torchaudio
torchvision
tqdm
trimesh
wandb
zipp
pynput
cython
SpeechRecognition
# pyaudio # sudo apt-get install portaudio19-dev Require portaudio.h as well! See the installation instructions here: https://stackoverflow.com/questions/35708238/installing-pyaudio-with-pip-in-a-virtualenv
sounddevice
openai
urdf-parser-py
tabulate
Pillow
timm
transformers
open3d
protobuf
paramiko
scp
str2bool
ipdb
PySimpleGUI
h5py