--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.1.0+cu121
torchvision==0.16.0+cu121
torchaudio==2.1.0+cu121
torch-geometric

gym
ipython
joblib
matplotlib
matplotlib-inline
numpy
opencv-python
pandas
psutil
pybullet
PyOpenGL
PyYAML
scikit-learn
scipy
seaborn
stable-baselines3
tqdm
trimesh
wandb
zipp
pynput
cython
SpeechRecognition
# pyaudio # sudo apt-get install portaudio19-dev Require portaudio.h as well! See the installation instructions here: https://stackoverflow.com/questions/35708238/installing-pyaudio-with-pip-in-a-virtualenv
sounddevice
openai
urdf-parser-py
tabulate
Pillow
timm
transformers
open3d
protobuf
paramiko
scp
str2bool
ipdb
h5py
threadpoolctl

# For real robot tasks
notebook
ipykernel
segment_anything
# install groundDino: https://github.com/IDEA-Research/Grounded-Segment-Anything/blob/main/grounded_sam.ipynb
pyrealsense2