<?xml version="1.0" ?>
<robot name="finger">
  <!-- Finger dimension xyz: [0.0375  0.0375  0.06875   ] -->
  
  <material name="green">
    <color rgba="0 0.8 0 1"/>
  </material>

  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

  <link name="base_link">
    <contact>
      <friction_anchor/>
      <lateral_friction value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value=".1"/>
      <inertia ixx="1e-3" ixy="0" ixz="0" iyy="1e-3" iyz="0" izz="1e-3"/>
    </inertial>

    <visual>
      <geometry>
        <box size="0.02 0.02 0.02"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.02 0.02 0.02"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>

  <link name="finger_2">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
		<mesh filename="meshes/visual/simplified_finger_mesh.stl"/>
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	 	<mesh filename="meshes/collision/simplified_finger_mesh.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_to_finger" type="fixed">
    <parent link="base_link"/>
    <child link="finger_2"/>
    <origin rpy="0 0 0" xyz="0 0 0.0"/>
  </joint>
</robot>