<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5_robotiq" >

  <!-- ur5 robotiq -->
  <xacro:include filename="$(find ur5_robotiq_description)/urdf/ur5_robotiq.xacro" />

  <!-- arm -->
  <xacro:ur5_robotiq prefix=""/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
